#notification-badge{
    position: relative;
    background: red;
    min-height: 20px;
    width: 20px;
    left:30px;
    top:-50px;
    border-radius: 90%;
    font-size: smaller;
}

#token{
    border:1px solid gray;
    max-width: 500px;
    word-wrap: break-word;
    padding:30px;
    margin:auto;
    text-align: justify;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
}

#copy-button{
    max-width: 440px;
    min-width: 440px;
    margin:auto;
}