#notification-badge{
    position: absolute;
    background:white;
    min-height: 20px;
    width: 20px;
    left:30px;
    top:0px;
    color:black;
    border-radius: 90%;
    font-size: 16px;
    text-align: center;
}

#message{
    color: white;
    position: relative;
    left:-20px;
}

#token{
    border:1px solid gray;
    max-width: 500px;
    word-wrap: break-word;
    padding:30px;
    margin:20px auto;
    text-align: justify;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
}

#copy-button{
    max-width: 440px;
    min-width: 440px;
    margin:auto;
}

#nav{
    max-height: 100px;
    min-height: 100px;
}

#getfcmbtn{
   position: absolute;
   top:400px;
   left:800px;
}